.upper-form-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bubbles-container{
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  max-width: 100%;
}

.form-img-container{
  width: 420px;
}

.img{
  position: relative;
  z-index: 2;
}

.form-input-long {
  width: 654px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-input-medium {
  width: 315px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-input-short {
  width: 130px;
  margin-bottom: 8px;
}

.form-label{
  margin-bottom: 5px;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 10px;
  padding-bottom: 10px;
}

.rdrDateDisplayWrapper{
  background-color: rgb(232 248 252) !important;
}


.calendar{
  position: relative;
}

.calendar-content-disabled{
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events:none;
  background-color: rgb(202, 211, 211);
  z-index: 1000;
  opacity: 0.7;
}

.calendar-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.calendar-additional-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 270px;
  color: #0183c7;
}

.delivery-info-content {
  display: grid;
  grid-template-columns: 315px 315px;
  grid-row: auto auto;
  grid-column-gap: 24px;
}

.time-pickers-content {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.time-picker {
  display: flex;
  flex-direction: column;
  width: 315px;
}

.exception-delivery-text{
  margin-bottom: 15px;
  color: #0183c7;
}

.lower-form-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkbox-statement{
  padding-top: 30px;
  padding-bottom: 40px;
}
