.homepage-main-heading {
  color: #0183c7;
  width: 566px;
  font-family: "Playpen Sans";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
}

.homepage-main-content-heading {
  font-family: "Playpen Sans";
  font-size: 38px;
  color: #0183c7;
}

.homepage-upper-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.homepage-upper-section-content-text {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 27px;
  max-width: 455px;
  font-size: 18px;
  letter-spacing: -0.01em;
  font-size: 600;
}

.homepage-lower-section {
  padding-top: 15px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.homepage-lower-section-heading {
  font-family: "Playpen Sans";
  padding-left: 20px;
  margin-bottom: 40px;
  color: #0183c7;
}

.homepage-lower-section-content-list > li::marker {
  font-size: 40px;
}

.homepage-lower-section-content-list {
  margin-left: 15px;
  line-height: 27px;
  max-width: 450px;
}

.homepage-lower-section-content-contact {
  padding-top: 30px;
  padding-left: 50px;
}

.homepage-lower-section-link {
  color: #0183c7;
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
}

.homepage-img-container img {
  position: relative; /* Ensure the image is positioned */
  z-index: 2; /* Set a higher z-index value for the image */
}

.homepage-img-container {
  position: relative;
  padding-top: 40px;
  padding-right: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .homepage-main-heading {
    width: 100%;
  }
  .homepage-upper-section {
    display: flex;
    justify-content: center;
  }
  .homepage-upper-section-content-text {
    max-width: 80%;
  }
}

@media screen and (max-width: 1200px) {
  .homepage-img-container {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1145px) {
  .homepage-main-heading {
    font-size: 38px;
    width: 100%;
  }
  .homepage-img-container {
    zoom: 0.6;
  }
}
