.homepage-main-heading {
  color: #0183c7;
  max-width: 566px;
  font-family: "Playpen Sans";
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
}

.homepage-main-content-heading {
  font-family: "Playpen Sans";
  font-size: 38px;
  color: #0183c7;
}

.homepage-upper-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.homepage-upper-section-content-text {
  padding-top: 10px;
  padding-bottom: 20px;
  max-width: 500px;
  line-height: 27px;
  font-size: 18px;
  font-weight: 600;
}

.homepage-lower-section {
  padding-top: 15px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.homepage-lower-section-heading {
  font-family: "Playpen Sans";
  padding-left: 20px;
  padding-bottom: 40px;
  color: #0183c7;
}

.homepage-lower-section-content-list > li::marker {
  font-size: 40px;
}

.homepage-lower-section-content-list > li {
  font-size: 18px;
  font-weight: 600;
}

.homepage-lower-section-content-list {
  margin-left: 15px;
  line-height: 27px;
  max-width: 450px;
}

.homepage-lower-section-content-contact {
  padding-top: 30px;
  padding-left: 50px;
}

.homepage-lower-section-link {
  color: #0183c7;
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
}

.homepage-img-container img {
  position: relative; /* Ensure the image is positioned */
  z-index: 2; /* Set a higher z-index value for the image */
}

.homepage-img-container {
  position: relative;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.container-img-asso {
  display: none;
}

@media screen and (max-width: 1200px) {
  .homepage-main-heading {
    font-size: 38px;
  }
  .homepage-img-container {
    zoom: 0.8;
  }
  .homepage-main-content-heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 1145px) {
  .homepage-img-container {
    zoom: 0.7;
  }
}

@media screen and (max-width: 1000px) {
  .homepage-upper-section {
    display: flex;
    justify-content: center;
  }
  .homepage-upper-section-content-text {
    max-width: 80%;
  }
  .homepage-img-container {
    display: none;
  }
  .homepage-lower-section {
    justify-content: flex-start;
  }
  .homepage-lower-section-content-list {
    max-width: 100%;
  }
  .homepage-lower-section-content-contact {
    padding-left: 0;
    padding-top: 2px;
  }
  .homepage-upper-section-content-text {
    max-width: 100%;
    text-align: justify;
    text-justify: inter-word;
  }
  .container-img-asso {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .container-img-asso img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
  }
}

@media screen and (max-width: 660px) {
  .homepage-main-heading {
    font-size: 24px;
  }
  .homepage-main-content-heading {
    font-size: 20px;
  }
  .homepage-lower-section-content-list > li::marker {
    font-size: 18px;
  }
}
