.app {
  max-width: 1400px;
  min-width: 1200px;
  background-color: #f6fdff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 26px;
  padding-top: 28px;
  padding-left: 78px;
  padding-right: 78px;
  padding-bottom: 78px;
}

.validationError {
  color: red;
}

.main-content-heading {
  font-family: "Playpen Sans";
  font-size: 38px;
  color: #0183c7;
}
