.app {
  max-width: 1200px;
  background: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 26px;
  padding: 78px;
}

.validationError {
  color: red;
}
